.site-nav__toggle {
  width: 136px;
  height: 54px;
  padding-left: 21px;
  font-weight: 500;
  color: $color-primary;
  background-color: $color-light;
  border-radius: 30px;
  border: 1px solid $color-primary;
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms;

  &::after {
    content: "";
    position: absolute;
    right: 4px;
    min-width: 46px;
    min-height: 46px;
    background-color: $color-primary;
    border-radius: 50%;
    transition: 300ms;
  }

  &::before {
    content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    width: 18px;
    height: 8px;
    transform: translateY(-50%);
    background: url("/__spritemap#sprite-toggle-close-view");
    transition: 300ms;
  }

  &:hover {
    color: $color-light;
    background-color: $color-primary;

    &::after {
      background-color: $color-light;
    }

    &::before {
      color: $color-primary;
    }
  }
}

.site-nav__toggle.is-open {
  max-width: 286px;
  color: $color-light;
  background-color: $color-primary;
  transition: 300ms;

  &::after {
    background-color: $color-light;
    transition: 300ms;
  }

  &::before {
    width: 18px;
    height: 18px;
    background: url("/__spritemap#sprite-toggle-open-view");
    transition: 300ms;
  }
}

.site-nav__list {
  display: none;
}


@media (min-width: 768px) {
  .site-nav__toggle {}
}
