//Width
$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 320px;

//Colors
$color-dark: #484848;
$color-light: #FFFFFF;
$color-additional-light: #F0EFE9;
$color-primary: #316DC2;
$color-secondary: #275699;
$color-input-disabled: #A9AFB7;
